In [1]:
import pandas as pd
import numpy as np

import os

In [2]:
# data = {
#     "id": [1, 2, 3, 4, 5],
#     "nom": ["Alice", "Bob", "Charlie", "Diana", "Eve"],
#     "reponses_formulaire": [
#         ["Oui", "Non", "Peut-être", "Oui"],
#         ["Non", "Oui", "Oui", "Non"],
#         ["Oui", "Oui", "Non", "Peut-être"],
#         ["Non", "Peut-être", "Oui", "Oui"],
#         ["Oui", "Non", "Non", "Non"],
#     ],
# }

In [3]:
# df = pd.DataFrame(data)
# print("DataFrame original :")
# print(df)
# print("\n" + "=" * 50 + "\n")

In [4]:
base_dir = "/media/sacha/DATA_P21/projet_RLQ_Odoo_test"
output_dir = os.path.join(base_dir, "output_files")
output_file = os.path.join(output_dir, "event_registration_cleaned.xlsx") 
output_file_filled = os.path.join(output_dir, "event_registration_filled.xlsx")
output_file_pivot = os.path.join(output_dir, "event_registration_pivot.xlsx")

In [5]:
df = pd.read_excel(output_file)
df.head()

,actif,cree_le,nom_du_participant,reserve_par,email,telephone,nom_de_la_societe,evenement,ticket_devenement,reponses_des_participants,status,statut_de_la_vente,necessite_une_action
0,1.0,2025-09-18 15:51:10,Matuzalem Muller,Matuzalem Muller,matuzalem.santos@gmail.com,NaN,NaN,Journée portes ouvertes sur Linux 2025 (418 pl...,Visiteur (248 places restantes),Matuzalem Muller,inscrit,Gratuit,0.0
1,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Matuzalem Muller,NaN,NaN,NaN
2,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,matuzalem.santos@gmail.com,NaN,NaN,NaN
3,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Non,NaN,NaN,NaN
4,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oui,NaN,NaN,NaN

In [6]:
# # MÉTHODE 1 : Utilisation de pd.DataFrame() directement sur la colonne
# # Cette méthode est la plus simple et efficace
# # print("MÉTHODE 1 : Conversion directe avec pd.DataFrame()")
# # print("-" * 45)

# # Convertir la colonne de listes en DataFrame séparé
# # Chaque liste devient une ligne, chaque élément de la liste devient une colonne
# colonnes_eclatees = pd.DataFrame(df["reponses_des_participants"].tolist())

# # Renommer les colonnes avec des noms explicites
# colonnes_eclatees.columns = [
#     f"question_{i+1}" for i in range(colonnes_eclatees.shape[1])
# ]

# # Concaténer avec le DataFrame original (en supprimant la colonne d'origine)
# df_methode1 = pd.concat(
#     [df.drop("reponses_des_participants", axis=1), colonnes_eclatees], axis=1
# )

# print("Résultat méthode 1 :")
# print(df_methode1)
# print("\n" + "=" * 50 + "\n")

=======================================================================================

In [7]:
#  # --- Créeons un exemple simple pour illustrer ---
# data = {'colonne_A': [1, np.nan, np.nan, 4, np.nan],
#         'colonne_B': ['a', 'b', np.nan, np.nan, 'e']}

# df_exemple = pd.DataFrame(data)
# print("--- DataFrame d'exemple AVANT remplissage ---")
# print(df_exemple)

# # Appliquer la méthode forward fill
# df_exemple_filled = df_exemple.fillna(method='ffill')
    
# print("\n--- DataFrame d'exemple APRÈS remplissage ---")
# print(df_exemple_filled)

In [8]:
df_filled = df.fillna(method='ffill')
df_filled.head()

/tmp/ipykernel_586195/3335472339.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_filled = df.fillna(method='ffill')

,actif,cree_le,nom_du_participant,reserve_par,email,telephone,nom_de_la_societe,evenement,ticket_devenement,reponses_des_participants,status,statut_de_la_vente,necessite_une_action
0,1.0,2025-09-18 15:51:10,Matuzalem Muller,Matuzalem Muller,matuzalem.santos@gmail.com,NaN,NaN,Journée portes ouvertes sur Linux 2025 (418 pl...,Visiteur (248 places restantes),Matuzalem Muller,inscrit,Gratuit,0.0
1,1.0,2025-09-18 15:51:10,Matuzalem Muller,Matuzalem Muller,matuzalem.santos@gmail.com,NaN,NaN,Journée portes ouvertes sur Linux 2025 (418 pl...,Visiteur (248 places restantes),Matuzalem Muller,inscrit,Gratuit,0.0
2,1.0,2025-09-18 15:51:10,Matuzalem Muller,Matuzalem Muller,matuzalem.santos@gmail.com,NaN,NaN,Journée portes ouvertes sur Linux 2025 (418 pl...,Visiteur (248 places restantes),matuzalem.santos@gmail.com,inscrit,Gratuit,0.0
3,1.0,2025-09-18 15:51:10,Matuzalem Muller,Matuzalem Muller,matuzalem.santos@gmail.com,NaN,NaN,Journée portes ouvertes sur Linux 2025 (418 pl...,Visiteur (248 places restantes),Non,inscrit,Gratuit,0.0
4,1.0,2025-09-18 15:51:10,Matuzalem Muller,Matuzalem Muller,matuzalem.santos@gmail.com,NaN,NaN,Journée portes ouvertes sur Linux 2025 (418 pl...,Visiteur (248 places restantes),Oui,inscrit,Gratuit,0.0

In [9]:
df_filled.to_excel(output_file_filled, index=False)

In [10]:
df_responses = df_filled[['nom_du_participant', 'email', 'reponses_des_participants']].copy()
df_responses.dropna(subset=['reponses_des_participants'], inplace=True)
df_responses["num_reponse"] = df_responses.groupby(
    ["nom_du_participant", "email"]
).cumcount()

In [11]:
df_pivot = df_responses.pivot_table(
        index=['nom_du_participant', 'email'],
        columns='num_reponse',
        values='reponses_des_participants',
        aggfunc='first'  # On prend la première valeur (il ne devrait y en avoir qu'une)
    ).reset_index()

In [12]:
rename_dict = {col: f'reponse_{int(col) + 1}' for col in df_pivot.columns if isinstance(col, int)}
df_pivot.rename(columns=rename_dict, inplace=True)

print("--- Tableau après pivot et renommage ---")
print(df_pivot.head())

--- Tableau après pivot et renommage ---
num_reponse nom_du_participant                       email         reponse_1  \
0                   Abdeljalil         a.cayer13@gmail.com        Abdeljalil
1                         Adam      amine.oufdou@gmail.com              Adam
2                        Amine      amine.oufdou@gmail.com             Amine
3             Andréanne Bigras  andreanne.bigras@gmail.com  Andréanne Bigras
4               Asma Benbrahem  asma.benbrahem@ensi-uma.tn    Asma Benbrahem

num_reponse         reponse_2                   reponse_3       reponse_4  \
0                       Cayer         a.cayer13@gmail.com             Oui
1                      OUFDOU      amine.oufdou@gmail.com             Oui
2                      OUFDOU      amine.oufdou@gmail.com             Oui
3            Andréanne Bigras  andreanne.bigras@gmail.com             Oui
4              Asma Benbrahem  asma.benbrahem@ensi-uma.tn  Oui, un laptop

num_reponse reponse_5                                       reponse_6  \
0                 Oui             Oui, je peux aider à l'organisation
1                 Oui             Oui, je peux aider à l'organisation
2                 Oui                    Oui, je peux installer Linux
3                 Oui  Oui, je peux aider à la journée de l'événement
4                 Oui                                             Oui

num_reponse                                        reponse_7 reponse_8  \
0                                                        NaN       NaN
1                                              Adam a 13 ans       NaN
2            Je serais acompagne par mon fils , Adam  13 ans       NaN
3                                                        Non       NaN
4                                                        NaN       NaN

num_reponse reponse_9 reponse_10 reponse_11 reponse_12 reponse_13 reponse_14
0                 NaN        NaN        NaN        NaN        NaN        NaN
1                 NaN        NaN        NaN        NaN        NaN        NaN
2                 NaN        NaN        NaN        NaN        NaN        NaN
3                 NaN        NaN        NaN        NaN        NaN        NaN
4                 NaN        NaN        NaN        NaN        NaN        NaN

In [13]:
df_pivot.to_excel(output_file_pivot, index=False)